<h1>Listing registered_user_for_publications</h1>

<table>
  <thead>
    <tr>
      <th>Publication unique</th>
      <th>Date of registration</th>
      <th>Device uuid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @registered_user_for_publications.each do |registered_user_for_publication| %>
      <tr>
        <td><%= registered_user_for_publication.publication_unique_id %></td>
        <td><%= registered_user_for_publication.date_of_registration %></td>
        <td><%= registered_user_for_publication.device_uuid %></td>
        <td><%= link_to 'Show', registered_user_for_publication %></td>
        <td><%= link_to 'Edit', edit_registered_user_for_publication_path(registered_user_for_publication) %></td>
        <td><%= link_to 'Destroy', registered_user_for_publication, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Registered user for publication', new_registered_user_for_publication_path %>
