<p id="notice"><%= notice %></p>

<p>
  <strong>Publication unique:</strong>
  <%= @registered_user_for_publication.publication_unique_id %>
</p>

<p>
  <strong>Date of registration:</strong>
  <%= @registered_user_for_publication.date_of_registration %>
</p>

<p>
  <strong>Device uuid:</strong>
  <%= @registered_user_for_publication.device_uuid %>
</p>

<%= link_to 'Edit', edit_registered_user_for_publication_path(@registered_user_for_publication) %> |
<%= link_to 'Back', registered_user_for_publications_path %>
