<%= form_for(@publication) do |f| %>
  <% if @publication.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@publication.errors.count, "error") %> prohibited this publication from being saved:</h2>

      <ul>
      <% @publication.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :version %><br>
    <%= f.number_field :version %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_area :title %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_area :address %>
  </div>
  <div class="field">
    <%= f.label :type_of_collecting %><br>
    <%= f.number_field :type_of_collecting %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br>
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :starting_date %><br>
    <%= f.datetime_select :starting_date %>
  </div>
  <div class="field">
    <%= f.label :ending_date %><br>
    <%= f.datetime_select :ending_date %>
  </div>
  <div class="field">
    <%= f.label :contact_info %><br>
    <%= f.text_area :contact_info %>
  </div>
  <div class="field">
    <%= f.label :is_on_air %><br>
    <%= f.check_box :is_on_air %>
  </div>
  <div class="field">
    <%= f.label :active_device_dev_uuid %><br>
    <%= f.text_area :active_device_dev_uuid %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
