<%= form_for(@registered_user_for_publication) do |f| %>
  <% if @registered_user_for_publication.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@registered_user_for_publication.errors.count, "error") %> prohibited this registered_user_for_publication from being saved:</h2>

      <ul>
      <% @registered_user_for_publication.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :publication_unique_id %><br>
    <%= f.number_field :publication_unique_id %>
  </div>
  <div class="field">
    <%= f.label :date_of_registration %><br>
    <%= f.datetime_select :date_of_registration %>
  </div>
  <div class="field">
    <%= f.label :device_uuid %><br>
    <%= f.text_field :device_uuid %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
