<p id="notice"><%= notice %></p>

<p>
  <strong>Publication unique:</strong>
  <%= @publication_report.publication_unique_id %>
</p>

<p>
  <strong>Publication version:</strong>
  <%= @publication_report.publication_version %>
</p>

<p>
  <strong>Report:</strong>
  <%= @publication_report.report %>
</p>

<p>
  <strong>Date of report:</strong>
  <%= @publication_report.date_of_report %>
</p>

<p>
  <strong>Reporting device uuid:</strong>
  <%= @publication_report.reporting_device_uuid %>
</p>

<%= link_to 'Edit', edit_publication_report_path(@publication_report) %> |
<%= link_to 'Back', publication_reports_path %>
