<p id="notice"><%= notice %></p>

<p>
  <strong>Publication version:</strong>
  <%= @publication.version %>
</p>

<p>
  <strong>Publication title:</strong>
  <%= @publication.title %>
</p>

<p>
  <strong>Publication address:</strong>
  <%= @publication.address %>
</p>

<p>
  <strong>Publication type of collecting:</strong>
  <%= @publication.type_of_collecting %>
</p>

<p>
  <strong>Publication latitude:</strong>
  <%= @publication.latitude %>
</p>

<p>
  <strong>Publication longitude:</strong>
  <%= @publication.longitude %>
</p>

<p>
  <strong>Publication starting date:</strong>
  <%= @publication.starting_date %>
</p>

<p>
  <strong>Publication ending date:</strong>
  <%= @publication.ending_date %>
</p>

<p>
  <strong>Publication contact info:</strong>
  <%= @publication.contact_info %>
</p>

<p>
  <strong>Is on air:</strong>
  <%= @publication.is_on_air %>
</p>

<p>
  <strong>Reporting device uuid:</strong>
  <%= @publication.active_device_dev_uuid %>
</p>

<%= link_to 'Edit', edit_publication_path(@publication) %> |
<%= link_to 'Back', publications_path %>
