<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
 <%= link_to image_tag("Foodonet-Logo-White.png", alt: "Foodonet"), 'http://foodonet.wix.com/foodonet',{:id => 'logo'} %>  
  

<nav>
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "How it works",   '#' %></li>
        <li><%= link_to "Share your spare",   '#' %></li>
        <li><%= link_to "Articles",   '#' %></li>
        <li><%= link_to "Help",   '#' %></li>
        <li><%= link_to "Log in", '#' %></li>
        
      </ul>
    </nav>
  </div>
</header>
<%= link_to "foodonet", root_path, id: "logo" %>
<%= link_to image_tag("appstore.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>